[submodule "alvr/client/android/app/external/antilatency-integration/AntilatencySDK"]
	path = alvr/client/android/app/external/antilatency-integration/AntilatencySDK
	url = https://github.com/AntilatencySDK/Release_3.5.2.git
